/DB_Access_Tools/nbproject/private/
/DB_Access_Tools/build/
/JavaNetworkLib/build/
/Activities/Activities_JDBC_Lib/build/
/Activities/JavaDataBaseLib/nbproject/private/
/Activities/Activities_Server/build/
/Activities/Activities_Server/dist/
/Activities/Activities_Server/nbproject/private/
/Activities/JavaDataBaseLib/build/
/Activities/JavaDataBaseLib/dist/
/Reservation/Reservation_Server/build/
/Reservation/Reservation_Protocol/build/
/Reservation/Reservation_Protocol/dist/
/Reservation/Reservation_Server/dist/